<div class="flex-container">
    {% for warehouse in warehouses %}
    <div class="card">
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="mb-0">{{ warehouse.name }}</h2>
            <a class="btn btn-primary btn-sm details-button"
                href="{{ url_for('detail_warehouse', warehouse_id=warehouse.identifier) }}">
                Details
            </a>
        </div>
        <p>Storage: {{ warehouse.storage }}</p>
        <p>Editor: {{ warehouse.editor_name }}</p>
        <div class="button-container">
            <form method="get" action="{{ url_for('edit_warehouse_route', warehouse_id=warehouse.identifier) }}"
                class="d-inline">
                <button type="submit" class="btn btn-success btn-sm edit-button mr-2">
                    <i class="fas fa-pencil-alt"></i>
                </button>
            </form>
            <form method="post" action="{{ url_for('delete_warehouse_route', warehouse_id=warehouse.identifier) }}"
                class="d-inline">
                <button type="submit" class="btn btn-danger btn-sm delete-button">
                    <i class="fas fa-trash-alt"></i>
                </button>
            </form>
        </div>
    </div>
    {% endfor %}
</div>