{% for composer in composers %}
<div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
        <h2 class="mb-0">{{ composer.Fname }} {{ composer.Lname }}</h2>
        <form method="post" action="{{ url_for('delete_composer_route', composer_id=composer.id) }}" class="ml-auto">
            <button type="submit" class="btn btn-danger btn-sm delete-button">
                <i class="fas fa-trash-alt"></i>
            </button>
        </form>
    </div>
    <p>Genre: {{ composer.mus_genre }}</p>
    <p>Birth: {{ composer.birth_year }}</p>
    <p>Death: {{ composer.death_year }}</p>
</div>
{% endfor %}